<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>704885565312-upm15rth0sl0h1oharv7bvh166k9gl1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704885565312-upm15rth0sl0h1oharv7bvh166k9gl1e</string>
	<key>API_KEY</key>
	<string>AIzaSyAJVEFtdTTMK0cd6E9V9A4W_cpi8HApj1c</string>
	<key>GCM_SENDER_ID</key>
	<string>704885565312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.unlv.keteboa.ObjectiveCFirebaseProject</string>
	<key>PROJECT_ID</key>
	<string>fixedfittestenvironment</string>
	<key>STORAGE_BUCKET</key>
	<string>fixedfittestenvironment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704885565312:ios:e789fa76850b6808</string>
	<key>DATABASE_URL</key>
	<string>https://fixedfittestenvironment.firebaseio.com</string>
</dict>
</plist>